.create-form {
    min-width: 150px;
    width: 75%;
    align-items: center;
    justify-content : center;
}

.field-full-width {
    width: 100%;
}


.mat-icon {
    background: purple;
    color: white;
}


.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }


  .mat-button, .mat-raised-button{
    background-color:purple;
    color: white;

} 
  
.bgimg {
    display:block;
    width:100%;
    height:100%;
    background: url('../../../assets/background.jpg') no-repeat center center fixed;
  }