<div>
    <br>
    <mat-card>
  
      <mat-divider></mat-divider>
      <br>
      <div>
      <form [formGroup]="createForm" class="create-form" 
        [ngClass]="{'has-error':createForm.get('where').errors &&
        (createForm.get('where').touched || createForm.get('where').dirty )}">
  
        <mat-form-field class="field-full-width">
          <mat-label color=blue> Find</mat-label>
          <input align="start" pattern=[a-zA-Z0-9\s]* matInput  formControlName="find" #find >
          <mat-hint [ngStyle]="{color: hintColor}">Restaurants, Bars, Cafe, ... </mat-hint>
          <span class ="help=block" *ngIf="createForm.get('where').errors &&
          (createForm.get('where').touched || createForm.get('where').dirty)">
            Please enter correct values
         <span *ngIf="createForm.get('where').errors.minLength || createForm.get('where').errors.maxLength">
          </span>
          </span>
        </mat-form-field> 

        <br><br>

      <mat-form-field  class="field-full-width">
          <mat-label color=blue> Where</mat-label>
          <input align="start" pattern=[a-zA-Z0-9\s]* matInput  formControlName="where" #where >
          <mat-hint [ngStyle]="{color: hintColor}">Near me, ... </mat-hint>
          <span class ="help=block" *ngIf="createForm.get('where').errors &&
          (createForm.get('where').touched || createForm.get('where').dirty)">
            Please enter correct values
          <span *ngIf="createForm.get('where').errors.minLength || createForm.get('where').errors.maxLength">
          </span>
          </span>
        </mat-form-field>  

        <br><br>

        <mat-form-field  class="field-full-width">
          <mat-label color=blue> ZipCode</mat-label>
          <input align="start" pattern=[0-9]{5} matInput  formControlName="zipcode" #zipcode >
          <mat-hint [ngStyle]="{color: hintColor}">zipcode please, ... </mat-hint>
        </mat-form-field>  
        <br><br>


      <mat-divider></mat-divider>
        <br><br>

                <button type="submit" (click)="findPlaces(find.value, where.value,zipcode.value);" 
                [disabled]="createForm.invalid"
                mat-raised-button >
                    Go
                    &nbsp;
                          
                </button>          
                  
                  
      </form>
    </div>
    </mat-card>
  </div>
  
  
 