
<div>
    <br>
    <mat-card>
      <button mat-raised-button color="primary" routerLink="/find" style="margin-right: 30px">
        Find Another Place
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  
        <mat-icon>search</mat-icon>    
      </button>
      <div class="dropdown">
        <button mat-raised-button color="primary" class="dropbtn">
            <mat-icon>dashboard</mat-icon>
          DashBorad 
        </button>
        &nbsp;
        <div class="dropdown-content">
          <a (click)="fetchStationsdocks();"  routerLink="/bar-chart">Bar Chart</a>
          <a (click)="linechartplaces();" routerLink="/line-chart-places">Line Chart</a>
          <a (click)="piechartplaces();" routerLink="/pie-chart">Pie Chart</a>
        </div>
      </div>
      &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
      &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
      &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
      &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
      &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
      &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
      &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
      &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
      &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
      &nbsp; &nbsp;
      <button mat-raised-button color="primary" routerLink="/list_of_places">
              Back
              <mat-icon>arrow_back</mat-icon>   
        &nbsp;  
  
      </button>

     </mat-card>
</div>
<mat-card>

<h2>{{ title }}</h2>
<svg width="960" height="500"></svg>
