<script src="https://d3js.org/d3-time.v1.min.js"></script>
<script src="https://d3js.org/d3-time-format.v2.min.js"></script>

<mat-card>
    <div class="dropdown">
        <button mat-raised-button color="primary" class="dropbtn">
            <mat-icon>list</mat-icon>
          Charts Time Range   
        </button>
        &nbsp;
        <div class="dropdown-content">
          <a (click)="fetchStationsdocksSMA();" routerLink="/line-chart-SMA" >Past 1 Hour SMA</a>
          <a (click)="fetchStationsdockshourSMA();" routerLink="/line-chart-hour-SMA">Past 24 Hours SMA </a>
          <a (click)=" fetchStationsdocksSevendaySMA();" routerLink="/line-chart-Seven-day-SMA">last 7 Days SMA</a>
      </div>
      </div>
      &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; 
  &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
  &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
  &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
  &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
  &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
  &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
  &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
  &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
  &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
  &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
  &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
  &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
    <button mat-raised-button color="primary" routerLink="/find" style="margin-right: 20px">
      <mat-icon>home</mat-icon> 
      &nbsp;
      Home
    </button> 
  <button mat-raised-button color="primary" routerLink="/line-chart-SMA">
    Back
    &nbsp;  
    <mat-icon>arrow_back</mat-icon>   
  </button>
</mat-card>
<h2 style="text-align:center">{{ title }}</h2>
<svg id="linehoursvg" width="900" height="500" class="center"></svg>
