<script src="https://d3js.org/d3-time.v1.min.js"></script>
<script src="https://d3js.org/d3-time-format.v2.min.js"></script>

<mat-card>
    <div class="dropdown">
        <button mat-raised-button color="primary" class="dropbtn">
            <mat-icon>list</mat-icon>
          Charts Time Range   
        </button>
        &nbsp;
        <div class="dropdown-content">
          <a (click)="fetchStationsdocks();" routerLink="/line-chart" >Past 1 Hour</a>
          <a (click)="fetchStationsdockshour();" routerLink="/line-chart-hour">Past 24 Hours </a>
          <a (click)=" fetchStationsdocksSevenday();" routerLink="/line-chart-seven-day">last 7 Days</a>
        </div>
      </div>
      &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; 
  &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
  &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
  &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
  &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
  &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
  &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
  &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
  &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
  &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
  &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
  &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
  &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
    <button mat-raised-button color="primary" routerLink="/find" style="margin-right: 20px">
      <mat-icon>home</mat-icon> 
      &nbsp;
      Home
    </button> 
  <button mat-raised-button color="primary" routerLink="/line-chart">
    Back
    &nbsp;  
    <mat-icon>arrow_back</mat-icon>   
  </button>
</mat-card>
<h2>{{ title }}</h2>
<svg id="linehoursvg" width="900" height="500"></svg>
