body {
    font: 10px sans-serif;
  }

  .graph_container {
    position: relative;
    margin: 0 auto;
    width: 960px;
  }
  
  path.average {
      stroke: darkviolet;
      stroke-width: 1px;
      fill: none;
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .area {
    fill: black;
  }

  #graph_container_1 .area {
    fill: royalblue;
    opacity: 0.2;
  }

  #graph_container_2 .area {
    fill: crimson;
    opacity: 0.2;
  }

  #graph_container_3 .area {
    fill: gainsboro;
  }