<script src="https://d3js.org/d3.v4.min.js"></script>
<div>
    <br>
    <mat-card>
      <button mat-raised-button color="primary" routerLink="/find" style="margin-right: 30px">
        Find Another Place
        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  
        <mat-icon>search</mat-icon>    
      </button>
      <div class="dropdown">
        <button mat-raised-button color="primary" class="dropbtn">
          DashBorad 
          <mat-icon>dashboard</mat-icon>
        </button>
        &nbsp;
        <div class="dropdown-content">
          <a (click)="fetchStationsdocks();"  routerLink="/bar-chart">Bar Chart</a>
          <a (click)="linechartplaces();" routerLink="/line-chart-places">Line Chart</a>
          </div>
      </div>
      &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
      &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
      &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
      &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
      &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
      &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
      &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
      &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
      &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
      &nbsp; &nbsp;
      <button mat-raised-button color="primary" routerLink="/list_of_places">
              Back
              <mat-icon>arrow_back</mat-icon>   
        &nbsp;  
      </button>
     </mat-card>
    </div>



<h2 style="text-align:center">{{ title1 }}</h2>
<svg id="svg" width="900" height="700" class="center"></svg>
<mat-divider></mat-divider>
<h2 style="text-align:center">{{ title2 }}</h2>
<svg id="svg2" width="900" height="700" class="center"></svg>

