.bar {
    fill: steelblue;
}


.axis {
  font: 10px sans-serif;
}


.axis-title {
  fill: none;
  stroke: black;
  stroke-width: 0.5px;
}


.axis--x path {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis {
    font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.axis-title {
  fill: none;
  stroke: black;
  stroke-width: 0.5px;
}

.svg {
  fill: none;
  stroke: green;
  stroke-width: 1.5px;
}


.svg2 {
  fill: none;
  stroke:blue;
  stroke-width: 1.5px;
}

.dropbtn {
    background-color: rgb(185, 41, 41);
    color: white;
    padding: 5px;
    font-size: 14px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 140px;
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: green;
    padding: 5px 8px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block;}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

  .center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
