<script src="https://d3js.org/d3.v4.min.js"></script>
<div>
  <br>
  <mat-card>
    <button mat-raised-button color="primary" routerLink="/find" style="margin-right: 30px">
      Find Another Place
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  
      <mat-icon>search</mat-icon>    
    </button>
    <div class="dropdown">
      <button mat-raised-button color="primary" class="dropbtn">
        DashBorad 
        <mat-icon>dashboard</mat-icon>
      </button>
      &nbsp;
      <div class="dropdown-content">
        <a (click)="fetchStationsdocks();"  routerLink="/bar-chart">Bar Chart</a>
        <a (click)="linechartplaces();" routerLink="/line-chart-places">Line Chart</a>
      
      </div>
    </div>
    &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
    &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
    &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
    &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
    &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
    &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
    &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
    &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
    &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;
    <button mat-raised-button color="primary" routerLink="/find">
      Back
      &nbsp;    
      <mat-icon>arrow_back</mat-icon> 
    </button>

    <br><br>
    <mat-divider></mat-divider>
    <br>
    <table mat-table [dataSource]="places">
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <ng-container matColumnDef="display_phone">
        <th mat-header-cell *matHeaderCellDef>Phone</th>
        <td mat-cell *matCellDef="let element"> {{element.display_phone}} </td>
      </ng-container>

      <ng-container matColumnDef="address1">
        <th mat-header-cell *matHeaderCellDef>Address</th>
        <td mat-cell *matCellDef="let element"> {{element.address1}} </td>
      </ng-container>

      <ng-container matColumnDef="zip_code">
        <th mat-header-cell *matHeaderCellDef>Zip Code</th>
        <td mat-cell *matCellDef="let element"> {{element.zip_code}} </td>
      </ng-container>

      <ng-container matColumnDef="is_closed">
        <th mat-header-cell *matHeaderCellDef>Closed</th>
        <td mat-cell *matCellDef="let element"> {{element.is_closed}} </td>
      </ng-container>

      <ng-container matColumnDef="rating">
        <th mat-header-cell *matHeaderCellDef>Rating</th>
        <td mat-cell *matCellDef="let element"> {{element.rating}} </td>
      </ng-container>

      <ng-container matColumnDef="review_count">
        <th mat-header-cell *matHeaderCellDef>Review Count</th>
        <td mat-cell *matCellDef="let element"> {{element.review_count}} </td>
      </ng-container>


      <ng-container matColumnDef="Divvy">
        <th mat-header-cell *matHeaderCellDef class="mat-column-right"></th>
        <td mat-cell *matCellDef="let element" class="mat-column-right">
          <button mat-raised-button color="primary" (click)="findStations(element.name); fetchStations2();">Divvy Near by</button>
          
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </mat-card>
</div>