<script src="https://d3js.org/d3.v4.min.js"></script>
<div>
  <br>
  <mat-card>
    <button mat-raised-button color="primary" routerLink="/find" style="margin-right: 30px">
      Find Another Place
      &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;  
      <mat-icon>search</mat-icon>    
    </button>
    &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; 
    &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
    &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
    &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
    &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
    &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
    &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
    &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
    &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
    &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
    &nbsp;&nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;&nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
    &nbsp; &nbsp;
    <button mat-raised-button color="primary" routerLink="/list_of_places">
            Back
            <mat-icon>arrow_back</mat-icon>   
      &nbsp;  

    </button>

    <br><br>
    <mat-divider></mat-divider>
    <br>
    <table mat-table [dataSource]="stations">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef>ID</th>
        <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.id}} </td>
      </ng-container>

      <ng-container matColumnDef="stationName">
        <th mat-header-cell *matHeaderCellDef>Station Name</th>
        <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.stationName}} </td>
      </ng-container>

      <ng-container matColumnDef="availableBikes">
        <th mat-header-cell *matHeaderCellDef>Available Bikes</th>
        <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.availableBikes}} </td>
      </ng-container>

      <ng-container matColumnDef="availableDocks">
        <th mat-header-cell *matHeaderCellDef style="text-align: center;">Available Docks</th>
        <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.availableDocks}} </td>
      </ng-container>
      
      <ng-container  matColumnDef="percent_filled">
          <th  mat-header-cell *matHeaderCellDef style="text-align: center;">Occupancy Percentage</th>
          <td  mat-cell  *matCellDef="let element"
          [ngClass]="{
            'positive' : element.percent_filled < 90,
            'negative' : element.percent_filled > 90
         }"
         > <font color="white">{{element.percent_filled}} %</font> </td>
        </ng-container> 

      <ng-container matColumnDef="is_renting">
        <th mat-header-cell *matHeaderCellDef>Renting</th>
        <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.is_renting}} </td>
      </ng-container>

      <ng-container matColumnDef="lastCommunicationTime">
        <th mat-header-cell *matHeaderCellDef>Updated Last </th>
        <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.lastCommunicationTime}} </td>
      </ng-container>

      <ng-container matColumnDef="latitude">
        <th mat-header-cell *matHeaderCellDef>Latitude</th>
        <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.latitude}} </td>
      </ng-container>

      <ng-container matColumnDef="longitude">
        <th mat-header-cell *matHeaderCellDef>Longitude</th>
        <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.longitude}} </td>
      </ng-container>

      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.status}} </td>
      </ng-container>

      <ng-container matColumnDef="totalDocks">
        <th mat-header-cell *matHeaderCellDef>Total Docks</th>
        <td mat-cell *matCellDef="let element" style="text-align: center;"> {{element.totalDocks}} </td>
      </ng-container>

      <ng-container matColumnDef="lineChart">
        <th mat-header-cell *matHeaderCellDef class="mat-column-right"></th>
        <td mat-cell *matCellDef="let element" class="mat-column-right" style="text-align: center;"> 
        
          <mat-card>
              <div class="dropdown">
                  <button mat-raised-button color="primary" class="dropbtn">
                    View Charts  
                    <mat-icon>insert_chart_outlined</mat-icon>
                  </button>
                  &nbsp;
                  <div class="dropdown-content">
                    <a mat-raised-button color="primary" (click)="findDivyStations(element.id); fetchStationsdocks(); ">Real Time Chart
                        <mat-icon>insert_chart_outlined</mat-icon> 
                    </a>
                    <a  mat-raised-button color="primary" (click)="findDivyStationsSMA(element.id); fetchStationsdocksSMA();">SMA Chart
                      <mat-icon>insert_chart_outlined</mat-icon> </a>
                  </div>
                </div>
          </mat-card>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </mat-card>
</div>

<mat-divider></mat-divider>

<agm-map [(latitude)]="location.lat" [(longitude)]="location.lng" [(zoom)]="location.zoom" [disableDefaultUI]="true" [zoomControl]="true" >

  <!-- Possible icons to use -->
  <!--  http://maps.google.com/mapfiles/ms/icons/green-dot.png   -->
  <!--  http://maps.google.com/mapfiles/ms/icons/blue-dot.png    -->
  <!--  http://maps.google.com/mapfiles/ms/icons/red-dot.png     -->


  <!-- Google Maps Developer - Docs -->
  <!--  https://developers.google.com/maps/documentation/   -->


  <!-- Angular Google Maps - Docs -->
  <!--  https://angular-maps.com/   -->



  <!-- Angular Google Maps - Demo -->
  <!--  https://stackblitz.com/edit/angular-google-maps-demo?file=app%2Fapp.module.ts   -->



  <agm-marker 
  (markerClick)="clickedMarker('Union Station', 0)"
  [latitude]="location.lat"
  [longitude]="location.lng"
  [iconUrl]= "icon"
  [label]="{ color: 'white', text: 'You are Here'}">

  <agm-info-window #infoWindow>
    <strong>You are currently here by the Union Station</strong>

  </agm-info-window>
  </agm-marker>


 

  <agm-marker 
  (markerClick)="clickedMarker('placeSelected', 0)"
  [latitude]="placeSelected.latitude"
  [longitude]="placeSelected.longitude"
  [iconUrl] = "{ url: 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png',
                scaledSize: {
                  width: 40,
                  height: 60
              }}" >

  <agm-info-window #infoWindow>
    <strong>You have selected this place</strong>
    <br><br><br>
    <strong>Name: {{placeSelected.name}}</strong>
    <br><br>
    <strong>Phone: {{placeSelected.display_phone}}</strong>
    <br><br>
    <strong>Address: {{placeSelected.address1}}</strong>
  </agm-info-window>

  </agm-marker>     



  <agm-marker 
    *ngFor="let m of markers; let i = index"
    (markerClick)="clickedMarker(m.stationName, i)"
    [latitude]="m.latitude"
    [longitude]="m.longitude"
    [label]="m.id">
  
    <agm-info-window #infoWindow>
      <strong>Divvy Station</strong>
      <br><br>
      <strong>stationName: {{m.stationName}}</strong>
      <br><br>
      <strong>status: {{m.status}}</strong>
      <br><br>
      <strong>availableDocks: {{m.availableDocks}}</strong>
    </agm-info-window>


  </agm-marker>




  <agm-circle [latitude]="location.lat" [longitude]="location.lng"
  [(radius)]="circleRadius"
  [fillColor]="'blue'"
  [circleDraggable]="true"
  [editable]="true"></agm-circle>

  
</agm-map>

<br><br>
<mat-divider></mat-divider>
<h2 style="text-align:center">AVAILABLE DOCKS VS. DOCKS IN USE</h2>
<app-stack-bar-chart></app-stack-bar-chart>







