table {
    width: 100%;
    text-align: center;
}

.mat-column-right {
    
}

agm-map {
    height: 500px;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 5px;
    font-size: 14px;
    border: none;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #6319ec;
    min-width: 140px;
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: green;
    padding: 5px 8px;
    text-decoration: none;
    display: block;
    background-color: #d8cee9;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd; color: green;}
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {display: block; background-color: rgb(221, 221, 221);}
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {background-color: #3e8e41;}

  .positive {
    background-color: #53ca57;
}

.negative {
    background-color: #cc3737;
}